@page
@model WatermarksModel
@{
    ViewData["Title"] = "Watermarks";
}
<h1>@ViewData["Title"]</h1>

<p>This page display your watermaks.</p>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Watermark Text</th>
                <th>Watermarked Image</th>
                <th>Status</th>
                <th>Process Function</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.WatermarkItems != null)
            {
                foreach (var watermark in Model.WatermarkItems)
                {
                    <tr>
                        <td><img src="@watermark.ImageUri" alt="@watermark.Id" width="100" />  </td>
                        <td>@watermark.Text</td>
                        <td><img src="@watermark.WatermarkedImageUri" alt="@watermark.Id" width="100" />  </td>
                        <td>@watermark.Status</td>
                        <td>@watermark.ProcessFunction</td>
                        <td>
                            <button class="btn btn-sm btn-danger" asp-page-handler="delete" asp-route-id="@watermark.Id">Delete </button>
                            <a class="btn btn-sm btn-primary" href="@watermark.ImageUri" target="_blank">View Image</a>
                            <a class="btn btn-sm btn-success" href="@watermark.WatermarkedImageUri" target="_blank">View Watermarked Image </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>